.background {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/img/industrial-background-1920-x-1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.layer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.title {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 5rem;
    text-align: center;
    font-size: 2rem;
}

.aboutus {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 5rem;
    text-align: center;
}